/* -- Overall -- */
body {
    font-family: 'Source Sans Pro';
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* -- Header -- */
.headertext {
    z-index: 9;
    top: 25%;
    text-align: right;
    right: 0;
    padding: 150px;
    margin: 2rem;
    color: white;
}

.headertext h1 {
    font-size: calc(5vw + 1rem);
    margin: 0 auto;
 }

.headertext h2 {
    font-size: calc(2vw + 1rem);
    margin: 0 auto;
}

main {
    background-color: white;
}

.guide {
    text-align: center;
    background-color: white;
    padding: 2px;
    margin-left: 15rem;
    margin-right: 15rem;
}

.guide p {
    font-style: italic;
    display: inline-block;
    padding-left: 20px;
}

.guide img {
    width: 65px;
    border-radius: 50%;
    border: 1px solid black;
    vertical-align: middle;
}

.intro {
    background-color: white;
    padding: 5rem;
}



.intro img {
    vertical-align: middle;
    box-shadow: 2px 2px 5px black;
}

.intro article {
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
} 

.travelvideo {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    
}

.flex-container-discovery p {
    font-weight: bold;
    font-size: 25px;
}

.flex-container-discovery ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.flex-container-discovery li, h1 {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 50px;
    margin-right: 50px;
    list-style: none;
    font-size: 50px;
}

.flex-container-discovery img {
    Height: 500px;
    Width: calc(500px)
}

footer {
    background-image: url("../img/header.jpg");
}






