/* -- Overall -- */
body {
    font-family: 'Source Sans Pro';
    background-image: url("https://assets.vogue.com/photos/59a6ee9ac3f99f428736c1a7/master/w_1600,c_limit/01-newfoundland-canada-travel-guide.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* -- Header -- */
.headertext {
    z-index: 9;
    top: 25%;
    text-align: right;
    right: 0;
    padding: 150px;
    margin: 2rem;
    color: white;
}

.headertext h1 {
    font-size: calc(5vw + 1rem);
    margin: 0 auto;
 }

.headertext h2 {
    font-size: calc(2vw + 1rem);
    margin: 0 auto;
}

.guide {
    text-align: center;
    background-color: white;
    padding: 2px;
    margin-left: 15rem;
    margin-right: 15rem;
}

.guide p {
    font-style: italic;
}

.guide img {
    width: 65px;
    border-radius: 50%;
    border: 1px solid black;
    vertical-align: middle;
}

.intro {
    background-color: white;
    padding: 5rem;
}

.introarticle h2, p {
    display: inline-block;
    padding-left: 20px;
}

.intro img {
    vertical-align: middle;
    box-shadow: 2px 2px 5px black;
}

.intro article {
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
} 

.travelvideo {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    
}

.flex-container ul {
    display: flex;
    flex-wrap: wrap;
}

.flex-container li {
    flex-grow: 1;
}




