body {
  font-family: 'Source Sans Pro';
  max-width: 1000px;
  margin: auto;
}

/* GENERAL */

figcaption {
  text-align: center;
}

a {
  text-decoration:none;
}

h1 {
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

/* MAIN PAGE */

#news {
  font-size: 3.25rem;
  color:white;
}

#rushdieimg {
  height: auto;
  width: 100%;
}

/* Section 1 */ 
.section1 {
  background-color: steelblue;
  padding: 1rem 1rem;
  color: white;
}

/* Section 2 */ 
.section2 {
  padding: 1rem 1rem;
  color: black;
}

/* Putin quote block */ 
.putinquote {
  background-color: lightblue;
  border-left: 1rem solid dodgerblue;
  font-display: center;
}

.putinquote img {
  padding: 2rem 1rem 0rem 0rem;
  align-self: center;
  max-width: 30%;
  max-height: auto;
  display: inline;
}

/* Text font Impressum */
.orfzentrum {
  font-style: italic;
}

/* CONTACT PAGE */

.contactInput {
  background-color: rgb(207, 207, 207);
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.contactInput button {
  background-color: #333;
  color: white;
}

/* Ö TOP 40 PAGE */

th {
  text-align: left;
}

tr:nth-child(2n) {
  background-color: rgb(224, 223, 223);
}

/* NAVBAR */

nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #16416B;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem 2rem;
  
}

nav li a:hover {
  background-color: steelblue;
}